@media all and (max-width:650px){
.chat {
width:98%;
margin:0%;
}
.chat .chat-header {
padding:10px 5px;
}

#backBtn {
width:30px;
height:30px;
opacity:0.6;
margin:5px 0px 0px -5px;
z-index:2;
}

#avatar {
width: 40px;
height: 40px;
border: 4px solid transparent;
border-radius:34px;
padding:2px;z-index:3;
box-shadow:3px 0px 1px 0px;
}


.link {
width:30px;
height:30px;
border-radius:;
opacity:0.6;
transition:all 0.7s;
opacity:0.6;
}


.showBtn {
float:right;
border:0px solid red;
height:45px;
width:35px;
margin:-2% 0% -4% 0%;
z-index:222;
}
  
 
#sBtn {
 width:90%;
 height:90%;
 } 

.text_entry{
width:95%;
margin-left:2.5%;
}

.chat-message {
width:85%;
margin-left:7.5%;
}

.chat .chat-history .message {
padding:5px 10px;
}

#message-to-send {
width:80%;
margin:0%;

}
.vid_display {
height:359px;
width:97%;
margin-left:0% 0%  1% 1.5%;
border:1px solid red;
z-index:2;
}

#cbox {
width:100%;
padding:4px 10px;
height:190px;
border-bottom:2px solid #4D4D4D;
}

}
