@media all and (max-width:650px){

.showBtn {
float:right;
border:2px solid red;
height:45px;
width:35px;
margin:-2% 0% -4% 0%;
z-index:222;
}
 
#sBtn {
 width:90%;
 height:90%;
 } 

.chat-message {
width:95%;
margin-left:0%;
}

.vid_display {
height:0%;
width:100%;
margin-left:0% 0%  1% 1.5%;
border:0px solid red;
z-index:2;
}

#cbox {
width:100%;
padding:4px 10px;
height:345px;
border:0px solid #4D4D4D;
}
.chat .chat-history {
height:340px;
border:0px;
}

}
